<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Phabricator批量编辑</title>
<script src="/static/js/vue.min.js"></script>
</head>
<body>
<div id="app">
	<fabtable v-bind:headers='visibleHeaders' :rows='rows' :table_styles='table_styles'></fabtable>
</div>

<script>
"use strict"
var extend = (base, deriving)=>
{
	var derived = JSON.parse(JSON.stringify(base));
	for (var key in deriving)
	{
		derived[key] = deriving[key];
	}
	return derived;
}

var typedAccessors = {
	choice: (val, traits)=> {
		var choices = traits.choices;
		for (var c of choices)
		{
			if (c.val == val)
			{
				return c.display;
			}
		}
		return val;
	},
	textEdit: (val, traits)=>{return val},
	multiple_choise: (val, traits)=> {
		var choices = traits.choices.reduce((x, y)=>{x[y.val]=y.display; return x}, {});
		return val.map(x=> choices[x]).join(', ');
	},
	datetime: (val, traits) =>{
		var d = new Date(val);
		const padding = (s, l, c)=>
		{
		  var paddingLength = Math.max(0, l - s.length);
		  for (var i = 0; i < paddingLength; i++)
		  {
			s = c + s;
		  }
		  return s;
		};
		var str = d.toUTCString();
		var year = String(d.getFullYear());
		var mon = String(d.getMonth() + 1);
		var day = String(d.getDate());
		var h = String(d.getHours());
		var mm = String(d.getMinutes());
		var date = year + '-' + padding(mon, 2, '0') + '-' + padding(day, 2, '0');
		var time = padding(h, 2, '0') + ':' + padding(mm, 2, '0');
		return date + ' ' + time;
	},
};

var solid_border = {
	'border-style': 'solid',
	'border-width': '1px',
};
var cell_common_style = extend(solid_border, {
	'padding-left': '15px',
	'padding-right': '15px',
	'vertical-align': 'center',
});

var header_style = extend(cell_common_style, {
	'text-align': 'center',
});

var row_style = extend(cell_common_style, {
});

var table_styles = {
	header: header_style,
	row: row_style,
	table: {'border-collapse': 'collapse'},
	typed_cells: {//不同类型的单元格有不同的样式，优先级最高
	},
	typed_rows: {//不同类型的行有不同的样式，优先级高于row
	},
	typed_columns: {//不同类型的列有不同的样式，优先级高于
	},
};

var authorEnums = [
	{val: '1', display: 'author1'},
	{val: '2', display: 'author2'},
	{val: '3', display: 'author3'},
]

var projects = [
	{val: 'P1', display: 'project1'},
	{val: 'P2', display: 'project2'},
	{val: 'P3', display: 'project3'},
]

var headerData = [
	{value: '编号', accessor: 'id', editable: 'false'},
	{value: '标题', accessor: 'title', editable: 'true', edit_type: 'textEdit', editor_pattern: 'inplace'},
	{value: '作者', accessor: 'author', editable: 'true', edit_type: 'choice', editor_pattern: 'inplace', choices: authorEnums },
	{value: '优先级', accessor: 'priority', editable: 'true', edit_type: 'choice', editor_pattern: 'inplace'},
	{value: '严重程度', accessor: 'severity', editable: 'true', edit_type: 'choice', editor_pattern: 'inplace'},
	{value: '项目', accessor: 'project', editable: 'true', edit_type: 'multiple_choise', editor_pattern: 'inplace', choices: projects},
	{value: '计划截止时间', accessor: 'deadline', editable: 'true', edit_type: 'datetime', editor_pattern: 'inplace', choices: projects},
	{value: '描述', accessor: 'description', editable: 'true', edit_type: 'textEdit', editor_pattern: 'popup'},
];

var rowData = [{id: '1', title: 'Test Task', author: '2', priority: 'Unbreak Now!', severity: 'Not a Bug', project: ['P1', 'P3'], deadline: 'Mon, 10 Jul 2017 23:07:22 GMT'}];

var fabtableTemplate = `
<table :style='table_styles.table'>
	<tbody>
		<fabHeaderRow v-bind:headers='headers' :header_style='table_styles.header'/>
		<fabRow v-for='row in rows' :row='row' :columns='headers' :row_style='table_styles.row'/>
	</tbody>
</table>
`;

var fabHeaderRowTemplate = `
<TR>
<TH v-for='header in headers' style='border-style: solid; border-width: 1px'> {{header.value}}</TH>
</TR>
`;

var fabRowTemplate = `
<TR>
	<TD v-for='column in columns' :style='row_style'>
		<fabCell :raw_data='access(row, column)' :edit_type='column.edit_type' :data_traits='column' :current_view='"raw"'/>
	</TD>
</TR>
`;

const fabCell = {
	props: ['raw_data', 'current_view', 'edit_type', 'data_traits'],
	template: `<component :is='current_view' :display_data='formatVal(raw_data, data_traits)' @request-edit='onRequestEdit' @edited='onEdited' :raw_data='raw_data' :data_traits='data_traits'/>`,
	methods: {
		formatVal(val, traits)
		{
			try
			{
				return typedAccessors[traits.edit_type](val, traits);
			}
			catch(ex)
			{
				console.log(traits.edit_type);
				console.log(ex);
			}
			return val;
		},
		onRequestEdit: function(ev, args) {
			this.current_view = this.data_traits.edit_type;
		},
		onEdited: function(args) {
			var val = args;
			this.raw_data = val;
			this.display_data = this.formatVal(val, this.data_traits);
			this.current_view = 'raw';
		},
	},
	components: {
		raw: {
			props: ['display_data'],
			template: `<span @click='clicked'>{{display_data}}</span>`,
			methods: {
				clicked: function(ev) {
					this.$emit('request-edit');
				}
			},
		},
		highlighted: {
			props: ['display_data'],
			template: `<span style='color: #FF0000'>{{display_data}}</span>`,
		},
		textEdit: {
			props: ['display_data'],
			mounted: function(el) {
				this.$el.focus();
			},
			methods: {
				onBlur: function(ev) {
					this.$emit('edited', this.$el.value);
				},
			},
			template: `<input type = "text" :value='display_data' @blur='onBlur'/>`,
		},
		choice: {
			props: ['display_data', 'raw_data', 'data_traits'],
			mounted: function(el) {
				this.$el.focus();
			},
			methods: {
				onBlur: function(ev) {
					this.$emit('edited', this.$el.value);
				},
			},
			template: `
				<select @blur='onBlur' :value='raw_data'>
				<option v-for = 'opt of data_traits.choices' :value='opt.val'>{{opt.display}}</oitpion>
				</select>`,
		},
		multiple_choise: {
			props: ['display_data', 'raw_data', 'data_traits'],
			mounted: function(el) {
				this.$el.focus();
			},
			methods: {
				onBlur: function(ev) {
					var opts = this.$el.options;
					var value = [];
					for (var opt of opts)
					{
						if (opt.selected)
						{
							value.push(opt.value);
						}
					}
					this.$emit('edited', value);
				},
			},
			template: `
				<select @blur='onBlur' multiple='multiple'>
				<option v-for = 'opt of data_traits.choices' :value='opt.val' :selected='raw_data.indexOf(opt.val) != -1'>{{opt.display}}</oitpion>
				</select>`,
		},
	},
};

const fabHeaderRow = {
	props: ['headers', 'header_style'],
	template: fabHeaderRowTemplate,
};

const fabRow = {
	props: ['columns', 'row', 'row_style'],
	template: fabRowTemplate,
	components: {
		fabCell: fabCell,
	},
	filters: 
	{
		access: function(row, column)
		{
			var accessor = column.accessor;
			return row[accessor];
		},
	},
	methods: {
		click: function(ev)
		{
			console.log('clicked');
		},
		access: function(row, column)
		{
			var accessor = column.accessor;
			var val = row[accessor];
			return val;
		},
	},
};

const fabtable = {
	props: ['headers', 'rows', 'header_style', 'table_styles'],
	template: fabtableTemplate,
	components: {
		fabHeaderRow: fabHeaderRow,
		fabRow: fabRow,
	},
};

new Vue({
  el: '#app',
  components: {
	  fabtable: fabtable,
  },
  data: {
    message: 'Hello Vue.js!',
	visibleHeaders: headerData,
	rows: rowData,
	table_styles: table_styles,
  }
})
</script>
</body>
</html>
